.plan-choice{
    @apply top-1.5;
    height: 69%;
}

.plan-choice h3{
    @apply mt-2;
}

.plans-container{
    @apply relative top-12 flex flex-col justify-around w-full;
    height: 40%;
}

.plan {
    @apply my-1 flex flex-row justify-start items-center rounded-lg border-2 border-gray-400 p-2;
    height: 80%;
}

.selected-plan{
    @apply border-2 border-purple-700 bg-purple-100;
}

.plan img{
    @apply w-9 self-center ml-2 mr-4;
}

.plan-details{
    @apply flex flex-col items-start justify-around;
}

.plan-title {
    @apply text-lg font-medium text-blue-900 first-letter:capitalize;
}

.plan-price {
    @apply font-medium text-gray-400;
}

.plan p{
    @apply text-xs text-blue-900;
}

.recurrence-setter{
    @apply relative top-32 flex flex-row justify-around items-center rounded-md bg-purple-100 p-2;
}

.selected{
    @apply font-medium text-blue-900;
}

.not-selected{
    @apply font-medium text-gray-500;
}

.toggle-container{
    @apply flex w-12 cursor-pointer items-center rounded-full bg-blue-900 p-1.5;
    height: 90%;
}

.monthly{
    @apply justify-end;
}

.yearly{
    @apply justify-start;
}

.toggle{
    @apply h-3.5 w-3.5 rounded-full bg-white;
}

@media only screen and (min-width: 640px){
    .plans-container{
        @apply top-16;
    }

    .toggle-container{
        @apply h-4/5;
    }
}

@media only screen and (min-width: 768px){
    .toggle-container{
        @apply h-full w-16;
    }

    .toggle{
        @apply h-4 w-4;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait){
    .plan-choice{
        @apply top-40 h-2/3;
    }

    .plans-container{
        @apply h-2/3
    }

    .plan img{
        @apply w-12
    }

    .plan-title{
        @apply text-xl;
    }

    .plan-price{
        @apply text-lg;
    }

    .plan p{
        @apply text-base;
    }

    .recurrence-setter{
        @apply mt-8;
    }
}