footer{
    @apply w-full absolute bottom-0 flex h-20 flex-row justify-between items-center bg-white p-5 font-medium;
}

.hidden-prev-btn{
    @apply hidden;
}

.prev-btn{
    @apply text-gray-400;
}

footer button:last-of-type{
    @apply h-12 w-1/3 rounded-lg text-white;
}

.next-btn{
    @apply bg-blue-900;
}

.confirm-btn{
    @apply bg-purple-900;
}

@media only screen and (max-height: 500px) and (orientation: landscape){
    footer{
        @apply fixed h-1/6;
        bottom: 0vh;
    }

    footer button:last-of-type{
        @apply h-10;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px){
    footer{
        @apply px-10;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){
    footer{
        @apply text-xl;
        height: 10%;
    }

    footer button:last-of-type{
        @apply h-3/4;
    }
}

@media only screen and (min-width: 1024px){
    footer{
        @apply border-4 mb-8 absolute right-10;
        width: 52%;
    }
}