@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    @apply py-4 absolute top-0 w-full bg-cover;
    height: 28%;
}

.ul {
    @apply mx-auto flex w-2/3 justify-around items-center lg:flex-col items-start h-1/2;
    list-style-type: none;
}

.ul li {
    @apply flex items-center justify-center h-10 w-10 rounded-full border-2 border-white text-xl text-white font-medium;
}

.current-page-li{
    @apply bg-blue-300 border-0;
}

.current-page{
    @apply text-blue-900;
}

.caption{
    @apply flex flex-col hidden;
}

@media only screen and (min-width: 768px) and (orientation: portrait){
    nav{
        @apply h-1/4;
    }

    .ul li{
        @apply w-12 h-12 text-2xl;
    }
}

/*
@media only screen and (min-width: 1024px){
    nav{
        height: 600px;
        width: 300px;
        background-size: auto;
    }
}
*/