@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    @apply py-4 absolute top-0 w-full bg-cover;
    height: 28%;
}

.ul {
    @apply mx-auto flex w-2/3 justify-around;
    list-style-type: none;
}

.page-info{
    @apply h-10 w-10 rounded-full border-2 flex items-center justify-center text-xl text-white font-medium border-white;
}

.current-page-info{
    @apply bg-blue-300 border-0;
}

.current-page{
    @apply text-blue-900;
}

.caption{
    @apply hidden;
}

@media only screen and (min-width: 768px) and (orientation: portrait){
    nav{
        @apply h-1/4;
    }

    .ul li{
        @apply w-12 h-12 text-2xl;
    }
}

@media only screen and (min-width: 1024px){
    nav{
        @apply relative h-full row-span-2 rounded-xl z-10;
        height: 100%;
        width: 300px;
        background-size: 300px;
    }

    .ul{
        @apply flex-col items-start h-3/5 relative top-4;
    }

    li{
        @apply flex flex-row w-full;
    }

    .page-info{
        @apply mr-5;
    }

    .caption{
        @apply flex flex-col text-white;
    }

    .caption span:first-of-type{
        @apply font-thin;
    }

    .caption span:last-of-type{
        @apply font-bold uppercase;
    }
}