@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#root{
    @apply relative mx-auto flex flex-col justify-between bg-blue-100 py-5;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

section{
    @apply relative w-11/12 mx-auto flex flex-col rounded-2xl bg-white p-6 shadow-lg;
}

section h1{
    @apply text-2xl font-bold text-blue-900;
}

section h3{
    @apply my-3 text-lg font-normal text-gray-400;
}

.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}