@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#root{
    height: 100vh;
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;
}

.app{
    @apply relative h-full w-full flex flex-col justify-center bg-blue-100;
}

section{
    @apply relative w-10/12 mx-auto flex flex-col rounded-2xl bg-white p-6 shadow-lg md:p-10;
}

section h1{
    @apply text-2xl font-bold text-blue-900;
}

section h3{
    @apply my-3 text-lg font-normal text-gray-400 md:text-xl;
}

.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-height: 600px) and (orientation: landscape){
    #root{
        height: 680px;
    }
}

/*
@media only screen and (min-width: 768px) and (orientation: portrait){
    section{
        @apply p-10;
    }

    section h3{
        @apply text-xl;
    }
}
*/